body{	
	background-image: url(/images/beach.jpg);
	background-color: #99d563;
}
div#container1{
	background-color: #ffffff;
}
.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}
input[type=checkbox] {
  transform: scale(2.0);
}